.fadeInUp {
  opacity: 0;
  transform: translateY(40px);
  transition: all 0.8s cubic-bezier(0.33, 1, 0.68, 1);
  will-change: opacity, transform;
  z-index: 3;
}
.fadeInUp.visible {
  opacity: 1;
  transform: translateY(0);
}
