html {
  scrollbar-width: thin; /* máº£nh */
  scrollbar-color: #888 rgba(255,255,255,0.97); /* thumb + track */
  scroll-behavior: smooth;
  -webkit-overflow-scrolling: touch;
  backface-visibility: hidden;
}


section {
  transition: opacity 1s cubic-bezier(0.22, 1, 0.36, 1),
              transform 1s cubic-bezier(0.22, 1, 0.36, 1);
  will-change: opacity, transform;
}


